.date {
  .product-container {
    .single-product {
      article {
        display: flex;
        .price {
          font-family: 'Novecento Sans Web';
          font-size: 1.8rem;
        }
        a {
          font-size: 1.875em;
          color: #d99054;
          text-decoration-line: none;
          font-family: 'Novecento Sans Web';
        }
      }
    }
    width: 1200px;
    margin: 0 auto;
    .type-product {
      justify-content: space-around;
      .entry-header {
        width: 45%;
      }
      .entry-content {
        width: 45%;
      }
    }
  }

  .site-content {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 'whatever anything';
    margin-left: auto;
    margin-right: auto;
    width: 1120px;

    .content-area {
      grid-area: whatever;
      max-width: 50;
    }
    .widget-area {
      border-left-style: solid;
      border-width: 0.25px;
      border-color: rgb(192, 192, 192);
      padding-left: 5%;
      grid-area: anything;
    }
  }
}
