.date {
  .site-content {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 'whatever anything';
    margin-left: auto;
    margin-right: auto;
    width: 1120px;

    .content-area {
      grid-area: whatever;
      max-width: 50;
    }
    .widget-area {
      border-left-style: solid;
      border-width: 0.25px;
      border-color: rgb(192, 192, 192);
      padding-left: 5%;
      grid-area: anything;
    }
  }
}
