.page-header {
  border-bottom: 1px dashed #c8c8c8;
  margin-bottom: 3rem;
  text-align: center;
}
.product-terms {
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  list-style-type: none;
  text-transform: uppercase;
  padding-bottom: 20px;
  .product-term {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
    margin-bottom: 1.5rem;
    border: 0px;
    border-top-width: 0px;
  }
}
a {
  text-decoration: none;
}
