footer {
  background-image: url('../../project-04-2/images/dark-wood.png');
  position: relative;

  .footer-block {
    @include center-block;
  }

  .footer-image {
    right: 60px;
    position: absolute;
    top: 42px;
  }
}
