h2 {
  font-size: 38.4px;
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 3.75rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: Novecento Sans Web, sans-serif;
}

.home-hero {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0, rgba(0, 0, 0, 0.4)),
    #969696 url('../../project-04-2/images/home-hero.jpg');
  background-size: cover, cover;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin-bottom: 4.5rem;
  position: relative;
  .home-hero img {
    border: 0;
    width: 275px;
    height: auto;
    max-width: 100%;
    height: 275px;
    height: auto;
    max-width: 100%;
  }
}

.product-terms {
  ul {
    display: flex;
    padding: 0.75rem;
    line-height: 1.75;
    justify-content: space-between;
    text-align: center;
    font-size: 16px;
    line-height: 1.75;
    margin-left: auto;
    margin-right: auto;
    width: 1050px;
    box-sizing: inherit;
  }
  .product-term {
    border: 1px solid #e1e1e1;
    border-top-width: 5px;
    padding: 0.75rem;
  }
  img {
    height: auto;
    max-width: 70px;
  }
}

.grid-container {
  height: 500px;
  justify-content: space-between;
  overflow: hidden;
  margin-left: 189px;
  margin-right: 189px;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 3px;
  img {
    height: 235px;
    width: auto;
  }
}
.grid-item {
  border: 1px solid #e1e1e1;
  padding: 20px;
  text-align: center;
}

.adventures {
  margin-left: auto;
  margin-right: auto;
  width: 1120px;
  margin-bottom: 4.5rem;
  h2 {
    font-size: 2.4rem;
    font-weight: 400;
    margin-bottom: 3.75rem;
    text-align: center;
  }
  ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 2fr;
    grid-gap: 20px 20px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    width: 100%;
    li {
      grid-column: 1 / span 2;
      grid-row: 1 / span 2;
      line-height: 1;
      overflow: hidden;
      position: relative;
      width: 100%;
      .night-with-f {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        img {
          left: 50%;
          max-height: 620px;
          max-width: none;
          position: absolute;
          top: 75%;
          transform: translate(-50%, -75%);
          width: auto;
          height: auto;
        }
        .story-info {
          margin: 1.5rem;
          position: absolute;
          z-index: 2;
          h3 {
            font-family: Merriweather Web, serif;
            font-weight: 400;
            margin-top: 24px;
            text-transform: none;
            letter-spacing: 2px;
          }
          .white-btn {
            background: #248a83;
            border: none;
            border-radius: 0;
            color: #fff;
            cursor: pointer;
            font-family: Novecento Sans Web, sans-serif;
            font-size: 14.4px;
            line-height: 1;
            padding: 0.75rem 1.5rem;
            text-decoration: none;
            text-transform: uppercase;
          }
        }
      }
      .veiw-taking {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
        img {
          left: 50%;
          max-height: 620px;
          max-width: none;
          position: absolute;
          top: 75%;
          transform: translate(-50%, -75%);
          width: auto;
        }
        .story-info {
          margin: 1.5rem;
          position: absolute;
          z-index: 2;
          h3 {
            font-family: Merriweather Web, serif;
            font-weight: 400;
            margin-top: 24px;
            text-transform: none;
          }
        }
      }
      .night-sky {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
        .story-info {
          margin: 1.5rem;
          position: absolute;
          z-index: 2;
          h3 {
            font-family: Merriweather Web, serif;
            font-weight: 400;
            margin-top: 24px;
            text-transform: none;
            a {
              border: 1px solid #fff;
            }
          }
        }
        img {
          left: 50%;
          max-height: 620px;
          max-width: none;
          position: absolute;
          top: 75%;
          transform: translate(-50%, -75%);
          width: auto;
        }
      }
      .cannoue-ride {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        line-height: 1;
        img {
          left: 50%;
          max-height: 620px;
          max-width: none;
          position: absolute;
          top: 75%;
          transform: translate(-50%, -75%);
          width: auto;
        }
        h3 {
          font-family: Merriweather Web, serif;
          font-weight: 400;
          margin-top: 24px;
          text-transform: none;
          margin: 1.5rem;
          position: absolute;
          z-index: 2;
          .white-btn {
            border: 1px solid #fff;
          }
        }
      }
    }
  }
}
