.site-header {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: auto;
  width: 1240px;
  background-color: hsla(0, 0%, 100%, 0.98);
  border-bottom: 1px solid #e1e1e1;
  position: fixed;
  transition: top 0.5s linear;
  width: 100%;
  z-index: 3;

  fieldset {
    border: none;
  }
  .search-form {
    display: flex;
  }
  nav {
    margin-left: 600px;
  }
  nav ul {
    list-style: none;
    margin: 0 2px;
    padding: 0;
  }

  nav li {
    display: inline-block;
    padding: 5px 5px;
  }

  nav a {
    font-weight: normal;
    padding: 10px 5px;
    font-size: 0.8em;
  }
  .main-navigation {
    clear: both;
    display: block;
  }
  .top-logo {
    background: url(../../project-04-2/images/logos/inhabitent-logo-tent.svg);
    width: 130%;
    justify-content: left;
    padding: 20px;
    background-repeat: no-repeat;
    background-size: 50px;
    margin-left: 143px;
  }
}
