.blog {
  .entry-header {
    position: relative;
    text-align: center;
    color: white;
    img {
      width: 100%;
    }
    .entry-title {
      position: absolute;
      top: 8px;
      left: 16px;
      background-color: #248a83;
      text-transform: uppercase;
      padding: 1.00005rem 1.5rem;
      font-size: 2.1rem;
      left: 0;
      padding: 0.75rem 1.5rem;
      max-width: 75%;
    }
    .entry-meta {
      position: absolute;
      bottom: 8px;
      right: 16px;
      background-color: #248a83;
      right: 0;
      bottom: 0;
      text-transform: uppercase;
      padding: 1.00005rem 1.5rem;
      margin-bottom: 7px;
    }
  }
  .hfeed {
    .site-content {
      .content-area {
        margin-left: auto;
        margin-right: auto;
        text-decoration-style: none;
        text-align: center;
        width: 801px;
        a {
          color: white;
          text-decoration-line: none;
        }
      }
    }
  }
}
