.blog {
  .hfeed {
    .site-content {
      max-height: 10000px;
      .content-area {
        margin-left: auto;
        margin-right: auto;
        text-decoration-style: none;
        text-align: center;
        height: 4000px;
        width: 801px;
      }
    }
  }
}
