.blog,
.page-find-us,
.single-post {
  border-style: solid;
  border-color: grey;
  border-width: 0.5px;

  .site-content {
    border-style: solid;
    border-color: grey;
    border-width: 0.5px;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "whatever anything";
    .content-area {
      border-style: solid;
      border-color: grey;
      border-width: 0.25px;
      grid-area: whatever;
      max-width: 50;
    }
    .widget-area {
      border-style: solid;
      border-color: grey;
      border-width: 0.25px;
      grid-area: anything;
    }
  }
}
